$panel-width: 330px;

.today {
  height: 100%;
  background: rgba(30, 33, 58, 1);
  position: relative;
  color: rgba(231, 231, 235, 1);

  button {
    color: rgba(231, 231, 235, 1);
    background: rgba(110, 112, 122, 1);

    &:hover {
      background: rgba(110, 112, 122, 0.5);
    }
  }
  
  .buttonGroup {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .searchPlacesBtn {
    width: 130px;
    height: 40px;
  }

  .currentLocationBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    >svg {
      width: 20px;
      height: 20px;
    }
  }

  .icons {
    min-width: 100%;
    min-height: 300px;
    img:first-of-type {
      opacity: 0.2;
      position: absolute;
      width: 500px;
      left: -80px;
    }

    img:not(:first-of-type) {
      width: 180px;
      height: 180px;
      position: relative;
      left: 70px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 60px;
    font-size: 12px;
    font-weight: 100;

    p {
      margin: 0;
    }

    .todayInfo {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin: 0 20px;
        position: relative;
        top: -8px;
        font-size: 30px;
      }
    }

    .location {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

